<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body bgcolor="lightgreen">
    <h1>Cursos</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Buscar">
    </form>
    
    {% if resultados %}
        <h2>Resultados de búsqueda:</h2>
        <ul>
            {% for libro in resultados %}
                <li>{{ libro.titulo }} - {{ libro.autor }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form>


    {% for curso in cursos %}
    <ul>
        <li>
            {{ cursos.id }} {{ cursos.nombre }} {{ cursos.comision }}
        </li>
    </ul>        
    {% endfor %}
</body>
</html>